<viewport>
  <row vertical-centered>
    <row-item size="5">
      <code-view-summary
        heading="Glorious Demo"
        repository-name="glorious-demo"
        tagline="The easiest way of creating animations to show your code in action."
        code-weight="4.6">
        <a
          href="https://www.producthunt.com/posts/glorious-demo?utm_source=badge-top-post-badge"
          target="_blank">
          <img
            src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=138298&period=daily"
            alt="Glorious Demo - Create glorious animations to show your code in action"
            style="width: 225px; height: 50px;"
            width="200px"
            height="50px" />
        </a>
      </code-view-summary>
    </row-item>
    <row-item size="7">
      <demo-demo />
    </row-item>
  </row>
</viewport>
