<div class="demo-demo">
  <row>
    <row-item size="12">
      <alert :alert="alert" />
      <editor
        v-show="isEditorVisible"
        :code="demoCode"
        :on-code-change="onEditorCodeChange"
        language="js" />
      <div
        v-show="isPreviewerVisible"
        class="demo-demo-previewer"
        data-demo-container>
      </div>
    </row-item>
  </row>
  <row>
    <row-item size="12">
      <code-demo-toolbar>
        <toggle-btn-group slot="left">
          <btn
            @click="showEditor()"
            size="small"
            icon-name="ion-edit">
            Edit
          </btn>
          <btn
            @click="preview()"
            size="small"
            icon-name="ion-film-marker"
            pressed>
            Preview
          </btn>
        </toggle-btn-group>
        <btn-group slot="right">
          <copy-btn
            size="small"
            icon-name="ion-link"
            :copy-text="demoLink">
            Copy Demo Link
          </copy-btn>
          <tweet-btn :tweet="tweet" size="small" />
        </btn-group>
      </code-demo-toolbar>
    </row-item>
  </row>
</div>
