@require '_variables'
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html, body
  margin 0
  font-family Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5, h6
  margin 0
  color $color-primary
  font-family 'Fjalla One', Helvetica, Arial, sans-serif
  font-weight normal
  text-transform uppercase
