// COLORS
$color-grey-light = #F1F1F1
$color-grey-semi-light = #EBEBEB
$color-grey = #C9D3DD
$color-grey-semi-dark = #B4B4B4
$color-grey-dark = #737C84
$color-blue = #5E7BF8
$color-red = #ED1946
$color-orange = #FF9632
$color-lightest = #FFFFFF
$color-darkest = #333333

$color-primary = $color-blue

// PATHS
$path-images = '../images'
