.code-view-summary
  .code-weight-badge,
  .github-button-container
    display inline-block
  .code-weight-badge
    margin-top 10px
    & + .github-button-widget
      left 10px
  .github-button-container
    position relative
    top 5.5px

.code-view-summary-custom-content
  margin-top 30px
  a
    &:hover,
    &:focus,
    &:active
      border-bottom-color transparent
