.code-view-summary
  .code-weight-badge,
  .github-button-container
    display inline-block
  .code-weight-badge
    margin-top 10px
  .github-button-container
    position relative
    top 5.5px
    left 10px
