@require '_mixins'
@require 'row-item'

.row
  margin 0 $row-item-padding * -1
  clearfix()
  & + .row
    margin-top 15px

+breakpoint('sm+')
  &.row-vertical-centered
    display flex
    align-items center
