<div class="author-view-summary">
  <view-summary heading="Author">
    <p>
      My name is
      <a href="https://www.rafaelcamargo.com/?utm_source=glorious-codes&utm_medium=author">
        Rafael Camargo
      </a>, developer with a sharp eye for design, focused on User Interface. Maker of
      <a href="https://hiphunt.com/?utm_source=glorious-codes&utm_medium=author">
        Hiphunt
      </a>,
      <a href="https://www.nashios.com/?utm_source=glorious-codes&utm_medium=author">
        Nashios
      </a>,
      <a href="http://teleflik.com/?utm_source=glorious-codes&utm_medium=author">
        Teleflik
      </a> and
      <a href="https://chrome.google.com/webstore/detail/dollert/lkbhlmhaiggihoihajncjlnmbpigbkam">
        Dollert
      </a>.
    </p>
    <p>
      Get in touch with me, dropping me a
      <a href="mailto:hello@rafaelcamargo.com">
        message
      </a> or reaching me on social networks.
    </p>
    <list>
      <list-item>
        <external-link href="https://github.com/rafaelcamargo">
          Github
        </external-link>
      </list-item>
      <list-item>
        <external-link href="https://twitter.com/rcamargo">
          Twitter
        </external-link>
      </list-item>
      <list-item>
        <external-link href="https://dribbble.com/rcamargo">
          Dribbble
        </external-link>
      </list-item>
    </list>
  </view-summary>
</div>
