<div class="author-view-summary">
  <view-summary heading="Author">
    <p>
      My name is
      <a href="https://rafaelcamargo.com" rel="noopener noreferrer" target="_blank">
        Rafael Camargo
      </a>, developer with a sharp eye for design, focused on User Interface.
      In addition to the open source projects, I have created
      <a href="https://typenik.com" rel="noopener noreferrer" target="_blank">
        Typenik
      </a>,
      <a href="https://nashios-web.web.app" rel="noopener noreferrer" target="_blank">
        Nashios
      </a> and
      <a
        href="https://play.google.com/store/apps/details?id=com.ionicframework.teleflik479683"
        rel="noopener noreferrer" target="_blank">
        Teleflik
      </a>.
    </p>
    <p>
      Get in touch with me, dropping me a
      <a href="https://rafaelcamargo.com/contact" rel="noopener noreferrer" target="_blank">
        message
      </a> or reaching me on social networks.
    </p>
    <list>
      <list-item>
        <external-link href="https://github.com/rafaelcamargo">
          Github
        </external-link>
      </list-item>
      <list-item>
        <external-link href="https://twitter.com/rcamargo">
          Twitter
        </external-link>
      </list-item>
      <list-item>
        <external-link href="https://dribbble.com/rcamargo">
          Dribbble
        </external-link>
      </list-item>
    </list>
  </view-summary>
</div>
