<div class="code-view-summary">
  <view-summary :heading="heading" :hero-heading="heroHeading">
    <p>
      {{ tagline }}
      <br>
      <code-weight-badge
        v-if="codeWeight"
        :text="codeWeightBadgeText" />
      <github-button-widget
        username="glorious-codes"
        :repository-name="repositoryName" />
    </p>
    <div data-code-view-summary-custom-content>
      <slot></slot>
    </div>
    <list>
      <list-item>
        <external-link :href="documentationLink">
          See documentation
        </external-link>
      </list-item>
      <list-item>
        <codes-back-link />
      </list-item>
    </list>
    <ad-banner href="https://hiphunt.com?utm_source=glorious-codes&utm_medium=code-view-summary">
      Looking for excellent JavaScript Developers in your area? Try <b>Hiphunt</b>.
    </ad-banner>
  </view-summary>
</div>
