<div class="code-view-summary">
  <view-summary :heading="heading" :hero-heading="heroHeading">
    <p>
      {{ tagline }}
      <br>
      <code-weight-badge
        v-if="codeWeight"
        :text="codeWeightBadgeText" />
      <github-button-widget
        username="glorious-codes"
        :repository-name="repositoryName" />
    </p>
    <div data-code-view-summary-custom-content>
      <slot></slot>
    </div>
    <list>
      <list-item>
        <external-link :href="documentationLink">
          See documentation
        </external-link>
      </list-item>
      <list-item>
        <codes-back-link />
      </list-item>
    </list>
    <p class="code-view-summary-banner">
      <icon name="ion-android-notifications" aria-role="presentation" />
      Looking for an alternative to Storybook?
      Try <base-link href="https://pitsby.com">Pitsby</base-link>!
    </p>
  </view-summary>
</div>
